.blog__item {
  border: 1px solid #fff;
}

.blog__time {
  border-top: 1px solid   #fff  ;
}

.read__more {
  color:   #2471a3  ;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

.read__more:hover {
  color:   #2471a3  ;
}

.blog__time span i {
  color:   #2471a3  ;
}

.blog__author {
  color:  #2e4053 ;
  font-weight: 600;
}

.blog__author i {
  font-weight: 500;
}

.blog__title {
  text-decoration: none;
  color:  #2e4053 ;
  font-size: 1.2rem;
  font-weight: 600;
  transition: 0.3s;
}

.blog__title:hover {
  color:   #2471a3  ;
}

@media only screen and (max-width: 768px) {
  .blog__time {
    padding-top: 5px !important;
  }

  .blog__time span {
    font-size: 0.7rem;
  }

  .blog__info p {
    font-size: 0.7rem;
    line-height: 1.5rem;
    margin-top: 10px;
  }

  .blog__title {
    font-size: 1.1rem;
  }

  .read__more {
    font-size: 0.7rem;
  }
}
