.common__section {
  background: linear-gradient(rgba(36, 113, 163, 0.6), rgba(36, 113, 163, 0.6)),
    url("../assets/all-images/drive.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
