.footer {
  background:    #2e4053    ;
  padding-top: 50px;
  padding-bottom: 15px;
}

.footer__logo i {
  color:  #2471a3 ;
  font-weight: 400;
}

.footer__logo span {
  color:  #2471a3 ;
  font-weight: 500;
}

.footer__logo-content {
  color:  #85929e ;
  margin-top: 15px;
  line-height: 30px;
}

.quick__link {
  border: none !important;
  background: transparent !important;
}

.quick__link a {
  color:  #85929e ;
  text-decoration: none;
  font-weight: 300;
  transition: 0.3s;
}

.quick__link a:hover {
  color:  #2471a3 ;
}

.footer__link-title {
  color: #fff;
}

.office__info {
  color:  #85929e ;
  font-weight: 300;
}

.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid  #212f3c ;
  border-radius: 50px;
  background:  #212f3c ;
}

.newsletter input {
  background: transparent;
  color:  #2471a3 ;
  border: none;
  outline: none;
}

.newsletter span i {
  color:  #2471a3 ;
}

.footer__bottom {
  border-top: 1px solid  #212f3c ;
}

@media only screen and (max-width: 768px) {
  .footer__logo-content {
    font-size: 0.8rem;
  }

  .quick__link,
  .office__info {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .footer__link-title {
    font-size: 1rem;
    margin-top: 15px;
  }

  .footer__bottom p {
    font-size: 0.7rem;
  }
}
